body {
  background: #fdfdff;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  white-space: pre-line;
}

.invert .nav-invert {
  background: #fff !important;
  margin-top: 0rem !important;
  box-shadow: 0px 5px 17px rgba(114, 114, 115, 0.22);
  transition: background 0.3s ease-in-out;
}

.invert img#logo {
  transform: scale(0.9);
}

.primary {
  color: #2491cf;
}

.bg-main {
  background: #2491cf;
}

.bg-acent {
  background: #1a8dce !important;
  /* background: linear-gradient(to top, #1a8dce, #1a7cb3); */
}

.nav-primary {
    background: #1a8dce !important;
    box-shadow: 0px 8px 13px #1a8dce3b;
}

.btn {
  border-radius: 30px !important;
}

/* .btn.btn-primary {
  background-color: #1a8dce;
  transition: box-shadow 0.3s ease-in-out;
} */

.btn.btn-primary:hover {
  box-shadow: 0px 0px 0px 2px #3ca7d8;
}

.card {
  border-radius: 10px;
}

.form-control {
  border-radius: 1.2rem;
}
