body {
  background: #fff;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.bg-acent {
  /* background: #147fbb !important; */
  background: linear-gradient(to top, #1a8dce, #1a7cb3);
}

.btn {
  border-radius: 30px !important;
}
