body {
  background: #fdfdff;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  padding-bottom: 10rem;
}

p {
  white-space: pre-line;
}

.invert .nav-invert {
  background: #fff !important;
  margin-top: 0rem !important;
  box-shadow: 0px 5px 17px rgba(114, 114, 115, 0.22);
  transition: background 0.3s ease-in-out;
}

.invert img#logo {
  transform: scale(0.9);
}

.primary {
  color: #2491cf;
}

.bg-main {
  background: #2491cf;
}

.bg-acent {
  /* background: #147fbb !important; */
  background: linear-gradient(to top, #1a8dce, #1a7cb3);
}

.btn {
  border-radius: 30px !important;
}

.btn.btn-primary{
    background-color: #2491cf;
    border-color: #2491cf;
    box-shadow: -3px 3px 10px #a5cde49c;
    transition: box-shadow .3s ease-in-out;
}

.btn.btn-primary:hover{
    background-color: #2491cf;
    border-color: #2491cf;
    box-shadow: none;
}

.card {
  border-radius: 10px;
}
